*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

header
{
	width: 100%;
	height: 50px;
	/*background: #FEBC1D;*/
}

nav
{
	margin: 20px auto;
	width: 90%;
	max-width: 1000px;
}

nav ul
{
	list-style: none;
}

nav >ul
{
	display: table;
	overflow: hidden;
	width: 100%;
	background: #000;
	position: relative;
}

nav > ul li
{
	display: table-cell;
}

/*SubMenu*/

nav > ul > li:hover > ul
{
	display: block;
	height: 100%;
}

nav ul > li > ul
{
	display: block;
	position: absolute;
	background: #000;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul li a
{
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > ul >li a:hover
{
	background: #5da5a2;
}

nav >ul > li > a span
{
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav >ul > li > a span .icon
{
	display: block;
	line-height: 60px;
}

nav > ul > li > a:hover > span
{
	top: 0;
}

/*Colores*/

nav ul li a .colorInicio
{
	background: #0e5061;
}
nav ul li a .colorHistorial
{
	background: #5da5a2;
}
nav ul li a .colorChofer
{
	background: #f25724;
}
nav ul li a .colorTaxi
{
	background: #37a4d9;
}


div#div1
{
position:absolute;
top: 100px;
}

div#div2
{
position:absolute;
top: 200px;
left: 300px;
width: 600px;
}

div#div3
{
position:absolute;
left: 200px;
}

div#div4
{
position:absolute;
left: 480px;
top: 150px;
}

div#div5
{
position:absolute;
left: 300px;
width: 600px;
}

div#divBoton
{
position:absolute;
top: 400px;
}

button#Boton1
{
position:absolute;
width: 200px;
}

button#Boton2
{
position:absolute;
left: 640px;
}






