*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body
{
	background: #fffffa;
	min-width: 130vh;
	min-height: 100vh;
}



.btn{
    background-color: #FEBC1D;
    border-radius: 6px;
    border: 2px solid #FEBC1D;
	*display: inline;
	display: inline-block;
    
}

.abtn
{
    color: #271A02;
}



.registroTaxitaForm
{
	width: 50%;
	margin: auto;
	padding: 5px;
	overflow: hidden;
}

#botonRegistro
{
	border: none;
	outline: none;
	height: 40px;
	font-size: 16px;
	background: rgba(214, 124, 0, 0.9);
	color: #fff;
	cursor: pointer;
}

footer{
	align-self: flex-end;
	background-color: rgba(84, 36, 19, 0.5); 
	line-height: 3;
	text-align: center;
	width: 100%;
	color: #fff;
}

h4
{
	text-align: center;
}

h2
{
	text-align: center;
}




#divtabla {
     overflow:scroll;
     height:300px;

}
#divtabla table {
    background-color: #f3c961;

}
thead 
{
  color: #271A02;
}

.wrapper
{
	width: 90%;
	margin: auto;
	overflow: hidden;
}

