*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body
{
	background: #fffffa;
  min-height: 100vh;
  min-width: 130vh;
}

header
{
	width: 100%;
	background: #271A02;
}


.contenedorEncabezado
{
	margin: auto;
	padding: 20px;
	overflow: hidden;
	width: 90%;
}


header .logotipo
{
	color: #f2f2f2;
	font-size: 50px;
	float: left;
	line-height: 144px;
}

.loginBox
{
	background: transparent;
	box-shadow: 0 10px 20px rgba(0,0,0,.5);
	border-radius: 5px;
	transition: .5s;
	float: right;
}

.loginBox:hover
{
	box-shadow: 0 10px 20px rgba(0,0,0,0);
	background: rgba(255,255,255,1);
}

.glass
{
	width: 100%;
	height: 100%;
	box-sizing: border-box;;
	background: rgba(255,255,255,.3);
	border-radius: 5px;
	transition: .5s

}

.glass:hover
{
	box-shadow: 0 10px 20px rgba(255,255,255,0);
}

.user
{
	padding-top: 10px;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

.bienvenida
{
	text-align: center;
	color: #271A02;
}

.botones
{
 	text-align:center;
 	padding: 3px;
}

.btn{
    background-color: #FEBC1D;
    border-radius: 6px;
    border: 2px solid #FEBC1D;
	*display: inline;
	display: inline-block;
    
}

.abtn
{
    color: #271A02;
}

  /*----------------------------Menu-------------------------------*/
nav
{
  margin:auto;
  width: 100%;
}

nav ul
{
  list-style: none;
}

nav >ul
{
  display: table;
  overflow: hidden;
  width: 100%;
  background: #000;
  position: relative;
}

nav > ul li
{
  display: table-cell;
}

/*SubMenu*/

nav > ul > li:hover > ul
{
  display: block;
  height: 100%;
}

nav ul > li > ul
{
  display: none;
  position: relative;
  overflow: hidden;
  height: 0%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

nav > ul li a
{
  color: #fff;
  display: block;
  line-height: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

nav > ul > li > ul >li a:hover
{
  background: #5da5a2;
}

nav >ul > li > a span
{
  background: #174459;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: -55px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

nav >ul > li > a span .icon
{
  display: block;
  line-height: 60px;
}

nav > ul > li > a:hover > span
{
  top: 0;
}

/*Colores*/

nav ul li a .colorInicio
{
  background: #E80505;
}
nav ul li a .colorHistorial
{
  background: #5da5a2;
}
nav ul li a .colorChofer
{
  background: #f25724;
}
nav ul li a .colorTaxi
{
  background: #37a4d9;
}
nav ul li a .colorSolicitarTaxi
{
  background: #e4da07;
}

/*colores del submenu*/
nav ul li ul .submenuTaxi
{
  background: #37a4d9;
  text-decoration: none;
}

nav ul li ul .submenuChofer
{
  background: #f25724;
  text-decoration: none;
}


/*--------------------------Fin menu---------------------------*/

.container
{
	padding-top: 50px;

}

.fechaDesde
{
	float: left;
	width: 50%;
	padding-right: 10px;
}
.fechaHasta
{
	float: right;
	width: 50%;
	padding-left: -5px;
}

.container
{
	padding-top: 50px;
}

.fechaDesde
{
	float: left;
	width: 50%;
	padding-right: 10px;
}
.fechaHasta
{
	float: right;
	width: 50%;
	padding-left: -5px;
}

.wrapper
{
	width: 90%;
	margin: auto;
	overflow: hidden;
}


.solicitud
{
  width: 100%;
  margin: auto;
  padding: 5px;
  overflow: hidden;
}

#botonSolicitar
{
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: rgba(214, 124, 0, 0.9);
  color: #fff;
  cursor: pointer;
}

.formulario
{
  float: left;
  margin: 15px auto;
  width: 50%;
  height: 50%;
}

.mapa
{
  float: right;
  width: 50%;
  height: 50%;
}

#map
{
  width: 100%;
  height: 310px;
  top: -10px
}

.contInfoTrayecto
{
  width: 100%;
  
}

.contInfoTrayecto ul
{
  list-style: none;
  margin-top: 30px;
}

.contInfoTrayecto > ul
{
  display: table;
  overflow: hidden;
  width: 100%;
  background: #E79B0D;
}
.contInfoTrayecto > ul li
{
  display: table-cell;
  line-height: 15px;
  padding: 5px;
  position: relative;
  text-align: center;
  max-width: 20px;

}

.contInfoTrayecto >ul > li > span
{
  display: block;
  height: 100%;
  width: 100%;
}

.contInfoTrayecto >ul > li > span .icon
{
  display: block;
  line-height: 15px;
}


.texto
{
  text-align: center;
  text-decoration: none;
}

h4
{
	text-align: center;
}

h2
{
	text-align: center;
}


input
{
  width: 100%;
  height: 30px;
  text-align: center;
  margin:0px auto; 
  display:block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border: 1px solid #BDC2C9;
}



/*----------------------------------Bootstrap-----------------------------------------*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.bootstrap-datetimepicker-widget {
  list-style: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  margin: 2px 0;
  padding: 4px;
  width: 19em;
}
@media (min-width: 2px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 992px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 1200px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
  content: '';
  display: inline-block;
  position: absolute;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #cccccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  left: auto;
  right: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
}
.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0;
}
.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0;
}
.bootstrap-datetimepicker-widget a[data-action]:active {
  box-shadow: none;
}
.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}
.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px;
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle AM/PM";
}
.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Clear the picker";
}
.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Set the date to today";
}
.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}
.bootstrap-datetimepicker-widget .picker-switch::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle Date and Time Screens";
}
.bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}
.bootstrap-datetimepicker-widget .picker-switch td span {
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
}
.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 4px;
}
.bootstrap-datetimepicker-widget table th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px;
}
.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Previous Month";
}
.bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Next Month";
}
.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #eeeeee;
}
.bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  width: 54px;
}
.bootstrap-datetimepicker-widget table td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #777777;
}
.bootstrap-datetimepicker-widget table td.day {
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background: #eeeeee;
  cursor: pointer;
}
.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
  color: #777777;
}
.bootstrap-datetimepicker-widget table td.today {
  position: relative;
}
.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: 0 0 7px 7px solid transparent;
  border-bottom-color: #337ab7;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #337ab7;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
}
.bootstrap-datetimepicker-widget table td span:hover {
  background: #eeeeee;
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #337ab7;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td span.old {
  color: #777777;
}
.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}
.bootstrap-datetimepicker-widget.wider {
  width: 21em;
}
.bootstrap-datetimepicker-widget .datepicker-decades .decade {
  line-height: 1.8em !important;
}
.input-group.date .input-group-addon {
  cursor: pointer;
}


/*Cuando se utilicen texto, tablas o formularios que sean mas grande que el body, se debe utilizar este estilo de footer <footer></footer>*/
footer{
  align-self: flex-end;
  background-color: rgba(84, 36, 19, 0.5); 
  line-height: 3;
  text-align: center;
  width: 100%;
  color: #fff;
}


/*Cuando se utilicen texto, tablas o formularios que sean mas pequeñp que el body, se debe utilizar este estilo de footer <div class="footer"></div>*/
.footer{
  align-self: flex-end;
  background-color: rgba(84, 36, 19, 0.5); 
  line-height: 3;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: absolute;
  min-width: 130vh;
  color: #fff;
}

.margeFooter
{
  margin-top: 3px;
}